/* ==========================================================================
   Custom styles
========================================================================== */

/*
Etheya Digital Creativity Ltd
Brian Coult
http://www.etheya-digitalcreativity.com
*/

body  {
}

header {
}

footer {
}

/* Logo */
/*****************************************/

.logo {
}

legend {
}


/* Typography */
/*****************************************/

h1, h2, h3 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h1 small {
}

p {
}

ul {
}

li {
}

.badge {
}

blockquote {
}


/* Image styles */
/*****************************************/

img {
}


/* ICONS */

i.fa  {
}

.fa-facebook-square,
.fa-facebook {
  color: #3b5998;
}
.fa-twitter-square,
.fa-twitter {
  color: #00acee;
}
.fa-linkedin-square {
  color: #0e76a8;
}
.fa-instagram {
  color: #3f729b;
}

/* Links */
/*****************************************/

a:link,
a:visited {
}

a:visited:hover,
a:hover {
}

.pagination a:link,
.pagination a:visited {
}


h2 a:link,
h2 a:visited {
}

h2 a:visited:hover,
h2 a:hover {
}

h3 a:link,
h3 a:visited {
}

h3 a:visited:hover,
h3 a:hover {
}

footer a:link,
footer a:visited {
}
footer a:hover,
footer a:visited:hover {
}

.basket a:link,
.basket a:visited {
}

.basket a:visited:hover,
.basket a:hover {
}


/* Navigation */
/*****************************************/


.navbar {
}

.nav{
}

.navbar-nav  li > a {
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
}

.navbar .nav .navbar-nav > li > a {
}


.well {
}

/* Forms */
/****************************************/

label {
}




/* Buttons */
/****************************************/

.btn-default {
}

.btn-primary {
}

.btn[disabled] {
}


@media screen and (max-width: 1024px) {

   }

@media screen and (max-width: 768px) {
      footer p {
        text-align: center;
      }
   }
@media screen and (max-width: 420px) {
   }

